body.jimi-clouds {
	background-image: url("images/Clouds.png");
	color: white;
}

body {
	margin-left: 10%;
}

table {
	Background-color: yellow;
	border: 25px solid black;
	font-size: 18px;

}

h2, {
	font: bold italic large serif;
}

.link-jimi {
	font: bold italic large serif;
}

footer {
	margin-left: auto;
    margin-right: auto;
    width: 10px;
}


  border: 3px dotted pink;
  background-color: purple;
  color: white;
  text-shadow: orange 3px 3px;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 2em;
  font-family: Helvetica;
  padding: 10px;
  margin: 10px;
  width: 50%;
  }